:global(.ui) {
  .comment {
    overflow: auto;
  }
}

:global(.ui.basic.label).toolbarBtn {
  border: none;
}


.authorData {
  float: left;
  padding-right: 1em;
  min-height: 2em;
}

.createdData {
  float: left;
  padding-right: 1em;
}

.actions{
  max-height: 3em;
  padding-top: 1em;
  margin-bottom: 2em;
}
