.headerWrp {
  background-color: white;
  padding: 1em 0;
  cursor: pointer;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;

  &:hover {
    color: black !important;
  }
}

.inputStatus input{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  height: 2.5em;
}

.actionStatus button{
  border-top-left-radius:0 !important;
  border-bottom-left-radius:0 !important;
}
