body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

#root,
.fill {
  width: 100%;
  height: 100%;
}

.ui.button.negative {
  visibility: hidden !important;
}

.ui.container.center .ui.button.negative,
.extra.content:hover .ui.button.negative,
.comment:hover  .ui.button.negative,
.actions:hover  .ui.button.negative {
  visibility: visible !important;
}

.ui.toggle {
  margin-right: 2em;
}
